/*stick footer to bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-y: scroll;
}

.container {
  padding-right: 32px;
  padding-left: 10px;
  margin-bottom: 50px;
}

.fix-height {
  flex: 1;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.title {
  font-weight: 600;
  font-size: 30px;
}